<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>HOW MANY PEOPLES ARE IN SPACE RIGHT NOW?</h1>
    </header>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer>
        <div>© 2020 Copyright:
            <a href="#">Santos Lucas</a>
        </div>
    </footer>
</body>

</html>